<h1>Kid show page</h1>

Name: <%= @kid.name %>
Age: <%= @kid.age %>
<p>Feeling: <%= @kid.feeling %></p>

<h3>Candy Count: <%= @kid.candies.count %></h3>

<ul>
<% @kid.candies.each do |candy| %>
<li>Name: <%= candy.name %></li>
<% end %>
</ul>

<form action="/kids/<%= @kid.id %>/pig-out" method="POST">
<input name="_method" type="hidden" value="patch" />
<input type="integer" name="number">
<input type="submit" name="Pig Out">
</form>

<a href="/houses">Go trick-or-treating</a>
